#login-modal {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 340px;
  align-items: center;
  padding: 15px 30px 50px;
  border: 5px solid brown;
  border-radius: 450px;
}

#login-form {
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid blue;
}

#login-button-div {
  display: flex;
  justify-content: center;
}

#login-submit-button {
  margin: 30px 0px;
  padding: 5px 10px;
}

#demo-button {
  padding: 5px 10px;
}