#login-modal {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-top: 20px solid rgb(0, 147, 210);
  border-bottom: 5px solid rgb(194, 0, 0);
  background-color: rgb(255, 251, 235);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#login-title {
  margin: 18px 0px 5px 0px;
}

#login-form {
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgb(0, 147, 210);
  border-radius: 5px;
}

/* #login-button-div {
  display: flex;
  justify-content: center;
} */

#login-submit-button {
  margin: 15px 0px;
  padding: 8px 12px;
  font-size: 12px;
  color: rgb(0, 32, 193);
  border: 2px solid rgb(93, 122, 196);
  border-radius: 10px;
  background-color: rgb(238, 246, 255);
  cursor: pointer;
}

#login-submit-button:hover {
  color: rgb(79, 173, 255);
  border: 2px solid rgb(79, 173, 255);
}

#demo-button-div {
  border-top: 2px dashed brown;
  width: 100%;
  display: flex;
  justify-content: center;
}

#demo-button {
  padding: 8px 12px;
  color: brown;
  background-color: rgb(255, 245, 204);
  border: 2px solid rgba(165, 42, 42, 0.6);
  border-radius: 10px;
  margin: 15px 0px 25px 0px;
  cursor: pointer;
}

#demo-button:hover {
  color: rgb(255, 122, 46);
  border: 2px solid rgb(255, 122, 46);
}