#all-recipe-overlord {
  /* height: 105vh; */
  width: 105vw;
  margin-left: -8px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#discover {
 font-size: 90px;
 color:rgba(255, 255, 255, 0.9);
 margin: 0px;
 padding-left: 30px;
 text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

#search-n-cards {
  display: flex;
  width: 90%;
  background-color: rgb(253, 244, 207);
  min-height: 1000px;
  justify-content: center;
  padding-right: 180px;
}

#search-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  /* background-color: white; */
}

#search-form {
  /* border: 1px solid blue; */
  border: 2px solid rgba(0, 147, 210);
  border-radius: 20px;
  width: 300px;
  display: flex;
  gap: 5px;
  background-color: white;
  margin: 10px 25px 0 0;
}

#search-input {
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: rgba(0, 147, 210);
  width: 100%;
  box-sizing: border-box;
  margin-left: 10px;
}

#search-input:focus {
  outline: none;
}

#search-button {
  background: none;
  border: none;
  color: rgba(0, 147, 210);
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

#all-cards-container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 1200px;
  padding: 30px 30px 100px 30px;
  background-color: white;
  justify-content: center;
}

#all-recipes-card {
  border: 1px solid rgb(0, 147, 210);;
  width: 550px;
  height: 225px;
  display: flex;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgb(0, 147, 210);
}

#all-recipes-pic {
  width: 375px;
  height: 225px;
  object-fit: cover;
  /* border: 1px solid red; */
  border-radius: 3px;
}

#profile-card {
  display: flex;
  flex-direction: column;
  width: 175px;
  border-left: 1px solid rgb(0, 147, 210);
  justify-content: center;
  align-items: center;
  background-color: white;
}

#all-recipes-profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
  border: 2px solid rgb(0, 147, 210);
}

#recipe-card-author-info {
  display: flex;
  flex-direction: column;
  color: rgb(0, 147, 210);
  font-weight: bold;
  align-items: center;
}

#recipe-card-food-name {
  font-size: 25px;
  margin: 0px;
}

#recipe-card-author-name {
  font-size: 20px;
  margin: 0px;
}

#no-recipe-div {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#no-recipe-p {
  font-size: 50px;
  margin-bottom: 7px;
}

#sad-cat {
  border: 8px solid rgb(255, 170, 0);
  opacity: 90%;
}