#landing-pic-div {
  background-image: url('https://recipe-capstone-project.s3.us-east-2.amazonaws.com/food_wars.jpg');
  margin-bottom:-10px;
  height: 105vh;
  width: 105vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin-left: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-title {
  color: white;
  font-family: 'Hi Melody', cursive;
  font-size: 50px;
  margin-top: -300px;
  margin-left: -80px;
  border: 8px solid white;
  border-radius: 40px;
  padding: 5px 20px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#welcome-title:hover {
  color: white;
  font-family: 'Hi Melody', cursive;
  font-size: 50px;
  margin-top: -300px;
  margin-left: -80px;
  border: 8px solid white;
  border-radius: 40px;
  padding: 5px 20px 0px;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}