#landing-pic-div {
  /* background-image: url('https://recipe-capstone-project.s3.us-east-2.amazonaws.com/food_wars_blue_v3.png'); */
  background-image: url('https://recipe-capstone-project.s3.us-east-2.amazonaws.com/food_wars_blue.png');
  margin-bottom:-10px;
  height: 105vh;
  width: 105vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin-left: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-title {
  color: white;
  font-family: 'Hi Melody', cursive;
  font-size: 50px;
  margin-top: -300px;
  margin-left: -90px;
  border: 8px solid white;
  border-radius: 40px;
  padding: 5px 20px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#welcome-title:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

#enter-modal {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  /* border: 5px solid brown; */
  border-top: 15px solid rgb(0, 147, 210);
  border-right: 2px solid rgba(165, 42, 42, 0.65);
  border-left: 2px solid rgba(165, 42, 42, 0.65);
  border-bottom: 2px solid rgba(165, 42, 42, 0.65);
  border-bottom-right-radius: 20px;
  background-color: rgb(255, 251, 235);
}

.login-or-signup-button {
  /* margin: 0px;
  padding: 5px 10px; */
  padding: 8px 12px;
  font-size: 16px;
  color: rgb(0, 32, 193);
  border: 2px solid rgb(93, 122, 196);
  border-radius: 10px;
  background-color: rgb(238, 246, 255);
  cursor: pointer;
}

#or {
  font-size: 30px;
  margin: 0px;
}