.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 10px;
  border-bottom: 2px solid rgba(185, 185, 185, 0.65);
  height: 60px;
  background-color: rgb(252, 250, 241);
}

#logo-obj {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
}

#recipe-share {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: brown;
  padding-bottom: 6px;
}

#create-recipe-link-nav {
  color:rgb(0, 147, 210);
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

#profile-button {
  padding: 10px 13px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

/* profile button */
#drop-down-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  position: absolute;
  height: 175px;
  width: 150px;
  top: 30px;
  padding: 7px 0px 10px;
}