#signup-modal {
  /* display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  padding: 70px 20px;
  border: 5px solid brown;
  border-radius: 10px;
  background-color: white; */
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-top: 20px solid rgb(0, 147, 210);
  border-bottom: 5px solid rgb(194, 0, 0);
  background-color: rgb(255, 251, 235);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#signup-header {
  /* border: 1px solid pink; */
  margin-top: 0px;
  margin-bottom: 10px;
}

#signup-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  /* border: 1px solid blue; */
}

/* .signup-input-div {
  display: flex;
  flex-direction: column; */
  /* border: 1px solid purple; */
  
  /* margin: 5px 0px;
  width: 100%;
} */



#disabled-signup-button {
  padding: 5px;
  border: 1px solid red;
  width: 100px;
  margin: 20px 0px 10px;
}